/*body {
    background: #f9f9f9;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

.tracker {
    width: 104px;
    height: 104px;
}

.today-tracker {
    width: 300px;
    height: 300px;
}

.today-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.goal {
    cursor: pointer;
}

.level-input {
    margin-top: 0px;
    padding: 4px;
}

#selected-day-title {
    margin-bottom: 0px;
}

#daily-notes {
    width: 100%;
    padding: 8px;
    margin-top: 2px;
}